<%= form_for(@weibo) do |f| %>
  <% if @weibo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@weibo.errors.count, "error") %> prohibited this weibo from being saved:</h2>

      <ul>
      <% @weibo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="hidden">
      <%= f.label :user_id %><br />
      <%= f.hidden_field :user_id, :value => session[:user_id]  %>
    </div>

    <div class="field">
      <%= f.label :图片 %><br />
      <%= f.file_field :avatar %>
    </div>

  <div class="field">
    <%= f.label :图片描述 %><br />
    <%= f.text_field :content %>
  </div>
    <%= f.label :所属相册 %><br />
<select name="weibo[album_id]">
  <%
     @albums = Album.find_all_by_user_id(session[:user_id])
  %>
  <%=  @albums.each do |a| %>
  <option value="<%= a.id %>"><%= a.name %></option>
  <% end %>
</select>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
