<h3>下面是关于用户 <%= params[:search_string] %> 的搜索结果</h3>
<script type="text/javascript" charset="utf-8">
  function addfriend(id)
  {
      var temp = document.createElement("form");
      temp.action = "/friends";
      temp.method = "post";
      temp.style.display = "none";

      var opt = document.createElement("textarea");
      opt.name = "friend[uid]";
      opt.value = <%= session[:user_id] %>;
      // alert(opt.name)
      temp.appendChild(opt);

      var opt2 = document.createElement("textarea");
      opt2.name = "friend[fid]";
      opt2.value = id;
      // alert(opt.name)
      temp.appendChild(opt2);


      document.body.appendChild(temp);
      temp.submit();
      return temp;
  }
</script>
<table>

	<% for user in @users %>
      <div class="panel panel-success" style="width: 60%">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a href=<%="http://localhost:3000/users/" + user.id.to_s() +"/homepage" %> ><%= user.name %>
                  </a>
        </h3>
        </div>
        <div class="panel-body">
            <image src="/images/3.jpg" style="width:120px;height: 120px; float:left"></image>
            <div style="padding-left: 200px">
              <div>
                <span>所在地：<%= user.user_profile.location %></span> <br>
                <span>从事行业：<%= user.user_profile.occupation %></span>
              </div>
              <div>
                <button type="button" class="btn btn-default" onclick="addfriend(<%= user.id %>)" style="float:right">
                  加关注
                </button>
              </div>

            </div>
          </div>
      </div>
	<% end %>
</table>
