<p id="notice"><%= notice %></p>

<script type="text/javascript">
    window.onload= function setClass()
    {
        document.getElementById( "friend" ).className = "";
        document.getElementById( "index" ).className = "active";
        document.getElementById( "find" ).className = "";
        document.getElementById( "hp" ).className = "";
    }
        function thumbup(span_2)
        {
            span_2.innerHTML =parseInt(span_2.innerHTML)+1;            
        }
        function thumbdown(span_2)
        {
            span_2.innerHTML =parseInt(span_2.innerHTML)-1;
        }
</script>


<div style="float: left; width: 20%; border-right:2px solid gray;">
  <p>
    你好, <%= @user.name %>
  </p>
  <ul class="nav nav-pills nav-stacked">
    <li role="presentation"><%= link_to 'Po照片' ,request.url+'/weibos/new' %></a></li>
    <li role="presentation"><%= link_to '我的相片' ,request.url+'/weibos/new' %></li>
    <li role="presentation"><a href="#">为我推荐的照片</a></li>
  </ul>
</div>

<div style="margin-left:25%;">

  <div style="border-bottom: 3px solid gray">


    <div>
      <image src="/images/2.jpg" style="width:40px;height: 40px; float:left"></image>

      <p style="color: grey;  padding-left: 50px">
        小明，小刚，赞了照片,两小时前
      </p>
    </div>

    <div style="padding-top: 20px;">
      <div style="width: 50px; float: left">
        <button type="button" class="btn btn-default" onclick="thumbup(span_1)" style="float:left"><span class="glyphicon glyphicon-thumbs-up"></span></button>
        <span id="span_1">308</span>
        <button type="button" class="btn btn-default" onclick="thumbdown(span_1)" style="float:left"><span class="glyphicon glyphicon-thumbs-down"></span></button>
      </div>
      <div style="float: left border-bottom: 3px solid gray;padding-bottom: 30px">
        <image src="/images/avator.png" style="width:400px;height:300px;"></image>
      </div>
      <% coment = Coment.new %>
      <%= form_for(coment) do |f| %>
          <% if coment.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(coment.errors.count, "error") %> prohibited this coment from being saved:</h2>

                <ul>
                  <% coment.errors.full_messages.each do |msg| %>
                      <li><%= msg %></li>
                  <% end %>
                </ul>
              </div>
          <% end %>

          <div class="field">
            <%= f.hidden_field :weibo_id %><br />
          </div>
          <div class="field">
            <%= f.hidden_field :user_id %><br />
          </div>
          <div class="field">
            <%= f.label :添加评论 %><br />
            <%= f.text_area :content, :style=> 'width:600px; height: 80px'%>
          </div>
          <div class="actions">
            <%= f.submit  %>
          </div>
      <% end %>
    </div>

  </div>

</div>

