<p id="notice"><%= notice %></p>

<script type="text/javascript">
    window.onload= function setClass()
    {
        document.getElementById( "friend" ).className = "";
        document.getElementById( "index" ).className = "active";
        document.getElementById( "find" ).className = "";
        document.getElementById( "hp" ).className = "";
    }
        function thumbup(span_2)
        {
            span_2.innerHTML =parseInt(span_2.innerHTML)+1;            
        }
        function thumbdown(span_2)
        {
            span_2.innerHTML =parseInt(span_2.innerHTML)-1;
        }
</script>


<div style="float: left; width: 15%; border-right:2px solid gray;">
  <ul class="nav nav-pills nav-stacked">
    <li role="presentation"><a href="<%= request.url + "/weibos/new" %>"><span class="glyphicon glyphicon-camera"></span>上传照片</a></li>
    <li role="presentation"><a href="<%= request.url + "/albums/" %>"><span class="glyphicon glyphicon-picture"></span>我的相册</a></li>
    <li role="presentation"><a href="#"><span class="glyphicon glyphicon-eye-open"></span>推荐的人</a></li>
  </ul>
</div>

<div style="margin-left:20%;">

  <div>


    <div>
      <image src="/images/2.jpg" class="img-circle" style="width:40px;height: 40px; float:left;"></image>
    </div>

    <div style=" margin-left: 70px;">
      <div style="float: left border-bottom: 3px solid gray;padding-bottom: 30px">
        <p>李京发布了照片。。。日日日</p>
        <image src="/images/The-Dunloe.jpg" style="width:600px;height:400px;"></image>
        <div class="panel panel-default" style="width: 600px; margin-left: 0px" >
          <div class="panel-heading"><button class="btn btn-default">
            <span class="glyphicon glyphicon-heart-empty"></span>
          </button>

          <span style="margin-left: 30px"> 小明，小刚，等260人赞了照片,两小时前</span>
          </div>
          <div class="panel-body">dsaf
          </div>
          <% coment = Coment.new %>
          <%= form_for(coment) do |f| %>
              <% if coment.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(coment.errors.count, "error") %> prohibited this coment from being saved:</h2>

                    <ul>
                      <% coment.errors.full_messages.each do |msg| %>
                          <li><%= msg %></li>
                      <% end %>
                    </ul>
                  </div>
              <% end %>

              <div class="field">
                <%= f.hidden_field :weibo_id %><br />
              </div>
              <div class="field">
                <%= f.hidden_field :user_id,:value=> session[:user_id] %><br />
              </div>
              <div class="field">
                <%= f.text_area :content ,:class => 'form-control', :style=> 'width:600px; height: 80px'%>
              </div>
              <div class="actions">
                <%= f.submit  :class =>'btn btn-default' ,:value =>'评论', :style => 'float:right'%>
              </div>
          <% end %>
        </div>
      </div>

    </div>

  </div>


</div>

