<%= form_for(@album) do |f| %>
  <% if @album.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@album.errors.count, "error") %> prohibited this album from being saved:</h2>

      <ul>
      <% @album.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <div class="hidden">
      <%= f.hidden_field :user_id, :value => session[:user_id]  %>
    </div>

  <div class="field">
    <%= f.label :相册名 %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :相册描述 %><br />
    <%= f.text_field :description %>
  </div>

    <div class="field">
      <%= f.label :相册标签 %><br />
      <%= f.text_field :tag %>
    </div>

    <div class="field">
      <%= f.label :相册封面 %><br />
      <%= f.file_field :avatar %>
    </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
