
<ul class="nav nav-tabs" role="tablist">
  <li role="presentation"><a href="#">用户</a></li>
  <li role="presentation" class="active"><%= link_to("标签",{:controller =>'albums',:action => 'find',:tag =>params[:search_string] })%> </li>
  <li role="presentation"><%= link_to("图片",{:controller =>'albums',:action => 'index',:tag =>params[:search_string]})%> </li>
</ul>

<h3>下面是关于标签 <%= params[:tag] %> 的搜索结果</h3>
<script type="text/javascript" charset="utf-8">
  function addfriend(id)
  {
      var temp = document.createElement("form");
      temp.action = "/friends";
      temp.method = "post";
      temp.style.display = "none";

      var opt = document.createElement("textarea");
      opt.name = "friend[uid]";
      opt.value = <%= session[:user_id] %>;
      // alert(opt.name)
      temp.appendChild(opt);

      var opt2 = document.createElement("textarea");
      opt2.name = "friend[fid]";
      opt2.value = id;
      // alert(opt.name)
      temp.appendChild(opt2);


      document.body.appendChild(temp);
      temp.submit();
      return temp;
  }

</script>
  <% for album in @weibos %>
    <span style="float: left;margin: 10px">
         <a href="">
           <image src="<%= album.avatar.url %>" style="width: 100px;height:100px"/>
         </a>


      </image>
      <p> 相册名：<%= album.name %></p>
    <p>相册所有者：<a href=""> <%= User.find(album.user_id).name %></a></p>
    </span>

  <% end %>
