<%= form_for @user_profile   do |f| %>
  <% if @user_profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_profile.errors.count, "error") %> prohibited this user_profile from being saved:</h2>

      <ul>
      <% @user_profile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="hidden">
    <%= f.label :uid %><br />
    <%= f.hidden_field :uid, :value => session[:user_id]  %>
  </div>

    <div class="hidden">
      <%= f.hidden_field :user_id, :value => session[:user_id]  %>
    </div>

  <div class="field">
    <%= f.label :年龄 %><br />
    <%= f.number_field :age %>
  </div>
  <div class="field">
    <%= f.label :所在地 %><br />
    <%= f.text_field :location %>
  </div>

    <div class="field">
      <%= f.label :职业 %><br />
      <%= f.text_field :occupation  %>
    </div>

    <div class="field">
      <%= f.label :擅长领域 %><br />
      <%= f.text_field :majoy %>
    </div>

    <div class="field">
      <%= f.label :个人简介 %><br />
      <%= f.text_field :status %>
    </div>
    <div class="field">
      <%= f.label :签名 %><br />
      <%= f.text_field :qianming %>
    </div>
    <div class="field">
      <%= f.label :个人喜好 %><br />
      <%= f.text_field :perference %>
    </div>

    <div class="field">
      <%= f.label :头像 %><br />
      <%= f.file_field :avatar %>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
