<% for user in @friend %>
    <div class="panel panel-primary" style="width: 60%">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a href=<%="http://localhost:3000/users/" + user.id.to_s() +"/homepage" %> ><%= user.name %>
          </a>
        </h3>
      </div>
      <div class="panel-body">
        <image src="<%= user.user_profile.avatar.url %>" style="width:120px;height: 120px; float:left"></image>
        <div style="padding-left: 200px">
          <div>
            <span>所在地：<%= user.user_profile.location %></span> <br>
            <span>从事行业：<%= user.user_profile.occupation %></span>
          </div>


        </div>
      </div>
    </div>
<% end %>
